[Unit]
Description="Jibux services"
After=network-online.target auditd.service
Wants=network-online.target
# Restart max 2 times in a period of 9 minutes
StartLimitIntervalSec=540
StartLimitBurst=2
[Service]
Restart=on-failure
# Wait 3 minutes before restart service
RestartSec=180
StandardOutput=append:{{ general_log_path }}
StandardError=append:{{ general_log_path }}
WorkingDirectory={{ svc_dir }}

ExecStart=docker compose up --remove-orphans
ExecStop=docker compose down

ExecCondition={{ svc_scripts_dir }}/jibux_svc_pre_start.py --domain={{ svc_host }} --secrets-dir={{ ovh_secrets_path }} --iface {{ svc_interface }} --config {{ svc_dir }}/jibux_svc_config.yaml --log-dir="{{ scripts_log_dir }}" --check-url {{ svc_check_url }}
ExecStartPre=systemctl start mega-cmd.service

[Install]
WantedBy=multi-user.target
