[Unit]
Description="Jibux services"
After=network-online.target auditd.service
Wants=network-online.target
# Restart max 5 times in a period of 3 minutes
StartLimitIntervalSec=180
StartLimitBurst=5
[Service]
Restart=on-failure
# Wait 3 minutes before restart service
RestartSec=180
StandardOutput=null
WorkingDirectory={{ svc_dir }}

ExecStart=docker compose up --remove-orphans
ExecStop=docker compose down

ExecStartPre={{ svc_scripts_dir }}/jibux_svc_pre_start.py --domain={{ svc_host }} --secrets-dir={{ ovh_secrets_path }} --config {{ svc_dir }}/jibux_svc_config.yaml --log-dir="{{ scripts_log_dir }}" --check-url {{ svc_check_url }}

ExecStartPre=-systemctl start mega-cmd.service

[Install]
WantedBy=multi-user.target
